In [1]:
import wget
base_url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023'

In [2]:
for month in range(1, 12):
    # Format the month and day to have leading zeros if needed
    month_str = str(month).zfill(2)
    
    # Construct the URL for the file
    url = f"{base_url}-{month_str}.parquet"
    try:
            # Download the file
            filename = wget.download(url)
            print(f"Downloaded: {filename}")
    except Exception as e:
            print(f"Failed to download {url}: {e}")

Downloaded: yellow_tripdata_2023-01.parquet
Downloaded: yellow_tripdata_2023-02.parquet
Downloaded: yellow_tripdata_2023-03.parquet
Downloaded: yellow_tripdata_2023-04.parquet
Downloaded: yellow_tripdata_2023-05.parquet
Downloaded: yellow_tripdata_2023-06.parquet
Downloaded: yellow_tripdata_2023-07.parquet
Downloaded: yellow_tripdata_2023-08.parquet
Downloaded: yellow_tripdata_2023-09.parquet
Downloaded: yellow_tripdata_2023-10.parquet
Downloaded: yellow_tripdata_2023-11.parquet
Failed to download https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-12.parquet: HTTP Error 403: Forbidden

In [3]:
url = "https://s3.amazonaws.com/tripdata/201306-citibike-tripdata.zip"
filename = wget.download(url)

In [4]:
import os
import urllib.request
import logging

_LOGGER = logging.getLogger(__name__)

def fetch_taxi_data(base_url, output_dir):
    """
    Function to fetch data from a URL.
    
    Args:
        base_url (str): The base URL from which to construct the file URLs.
        output_dir (str): The directory where the downloaded files will be saved.
    
    Returns:
        -
    """
    for month in range(1, 12):
        # Format the month to have leading zeros if needed
        month_str = str(month).zfill(2)
        
        # Construct the URL for the file
        url = f"{base_url}-{month_str}.parquet"
        
        try:
            # Download the file and save it to the output directory
            filename, headers = urllib.request.urlretrieve(url, os.path.join(output_dir, f"yellow_tripdata_2023-{month_str}.parquet"))
            _LOGGER.info(f"Downloaded: {filename}")
            print(f"Downloaded: {filename}")
        except Exception as e:
            _LOGGER.warning(f"Failed to download {url}: {e}")

# Example usage:
base_url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023"
output_directory = "D:/BRI/bri-hactiv8-end-to-end-pipeline/playground"
fetch_taxi_data(base_url, output_directory)

Downloaded: D:/BRI/bri-hactiv8-end-to-end-pipeline/playground\yellow_tripdata_2023-01.parquet
Downloaded: D:/BRI/bri-hactiv8-end-to-end-pipeline/playground\yellow_tripdata_2023-02.parquet
Downloaded: D:/BRI/bri-hactiv8-end-to-end-pipeline/playground\yellow_tripdata_2023-03.parquet
Downloaded: D:/BRI/bri-hactiv8-end-to-end-pipeline/playground\yellow_tripdata_2023-04.parquet
Downloaded: D:/BRI/bri-hactiv8-end-to-end-pipeline/playground\yellow_tripdata_2023-05.parquet
Downloaded: D:/BRI/bri-hactiv8-end-to-end-pipeline/playground\yellow_tripdata_2023-06.parquet
Downloaded: D:/BRI/bri-hactiv8-end-to-end-pipeline/playground\yellow_tripdata_2023-07.parquet
Downloaded: D:/BRI/bri-hactiv8-end-to-end-pipeline/playground\yellow_tripdata_2023-08.parquet
Downloaded: D:/BRI/bri-hactiv8-end-to-end-pipeline/playground\yellow_tripdata_2023-09.parquet
Downloaded: D:/BRI/bri-hactiv8-end-to-end-pipeline/playground\yellow_tripdata_2023-10.parquet
Downloaded: D:/BRI/bri-hactiv8-end-to-end-pipeline/playground\yellow_tripdata_2023-11.parquet

In [15]:
import urllib.request
import logging

_LOGGER = logging.getLogger(__name__)

def fetch_bike_data(url):
    """
    Function to fetch data from an URL.
    
    Args:
        url (str): The URL from which to fetch data.
    
    Returns:
        -
    """
    try:
        # Open the URL and download the file
        response = urllib.request.urlopen(url)
        # Extract filename from URL
        filename = url.split('/')[-1]
        with open(filename, 'wb') as f:
            f.write(response.read())
                
        _LOGGER.info(f"Downloaded: {filename}")
        print(f"Downloaded: {filename}")
    except Exception as e:
        _LOGGER.warning(f"Failed to download {url}: {e}")

In [36]:
fetch_bike_data("https://s3.amazonaws.com/tripdata/JC-202301-citibike-tripdata.csv.zip")

Downloaded: JC-202301-citibike-tripdata.csv.zip

In [37]:
import pandas as pd

In [34]:
taxi = pd.read_parquet('yellow_tripdata_2023-09.parquet')

In [35]:
taxi

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-09-01 00:15:37,2023-09-01 00:20:21,1.0,0.80,1.0,N,163,230,2,6.50,3.5,0.5,0.00,0.0,1.0,11.50,2.5,0.00
1,2,2023-09-01 00:18:40,2023-09-01 00:30:28,2.0,2.34,1.0,N,236,233,1,14.20,1.0,0.5,2.00,0.0,1.0,21.20,2.5,0.00
2,2,2023-09-01 00:35:01,2023-09-01 00:39:04,1.0,1.62,1.0,N,162,236,1,8.60,1.0,0.5,2.00,0.0,1.0,15.60,2.5,0.00
3,2,2023-09-01 00:45:45,2023-09-01 00:47:37,1.0,0.74,1.0,N,141,229,1,5.10,1.0,0.5,1.00,0.0,1.0,11.10,2.5,0.00
4,2,2023-09-01 00:01:23,2023-09-01 00:38:05,1.0,9.85,1.0,N,138,230,1,45.00,6.0,0.5,17.02,0.0,1.0,73.77,2.5,1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2846717,2,2023-09-30 23:31:12,2023-09-30 23:48:29,NaN,2.43,NaN,None,125,107,0,17.69,0.0,0.5,4.34,0.0,1.0,26.03,NaN,NaN
2846718,1,2023-09-30 23:42:18,2023-09-30 23:47:45,NaN,0.00,NaN,None,236,75,0,11.33,0.0,0.5,0.00,0.0,1.0,15.33,NaN,NaN
2846719,1,2023-09-30 23:03:35,2023-09-30 23:14:50,NaN,1.80,NaN,None,211,90,0,12.10,1.0,0.5,2.57,0.0,1.0,19.67,NaN,NaN
2846720,2,2023-09-30 23:57:05,2023-10-01 00:17:36,NaN,3.39,NaN,None,209,97,0,20.33,0.0,0.5,4.87,0.0,1.0,29.20,NaN,NaN
2846721,1,2023-09-30 23:25:47,2023-09-30 23:55:28,NaN,0.00,NaN,None,80,197,0,36.47,0.0,0.5,0.00,0.0,1.0,37.97,NaN,NaN

In [13]:
taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2913955 entries, 0 to 2913954
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int32(3), int64(1), object(1)
memory usage: 389.1+ MB

In [51]:
bike = pd.read_csv('JC-202301-citibike-tripdata.csv')

In [52]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56075 entries, 0 to 56074
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             56075 non-null  object
 1   rideable_type       56075 non-null  object
 2   started_at          56075 non-null  object
 3   ended_at            56075 non-null  object
 4   start_station_name  56075 non-null  object
 5   start_station_id    56075 non-null  object
 6   end_station_name    55873 non-null  object
 7   end_station_id      55873 non-null  object
 8   start_lat           56075 non-null  float64
 9   start_lng           56075 non-null  float64
 10  end_lat             56023 non-null  float64
 11  end_lng             56023 non-null  float64
 12  member_casual       56075 non-null  object
dtypes: float64(4), object(9)
memory usage: 5.6+ MB

In [53]:
bike.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member

In [54]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56075 entries, 0 to 56074
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             56075 non-null  object
 1   rideable_type       56075 non-null  object
 2   started_at          56075 non-null  object
 3   ended_at            56075 non-null  object
 4   start_station_name  56075 non-null  object
 5   start_station_id    56075 non-null  object
 6   end_station_name    55873 non-null  object
 7   end_station_id      55873 non-null  object
 8   start_lat           56075 non-null  float64
 9   start_lng           56075 non-null  float64
 10  end_lat             56023 non-null  float64
 11  end_lng             56023 non-null  float64
 12  member_casual       56075 non-null  object
dtypes: float64(4), object(9)
memory usage: 5.6+ MB